body {
    background-color: #F4C89C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
iframe{
    width: 640px;
    height: 2400px;
    display:flex;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: transparent;
  color: black;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: black;
}
nav .links {
	float: right;
	padding: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: black;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
	transform: translate(0px,98987px);
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #e86830;;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
		color: white;
	}
	nav .links a {
		font-size: 20px;
		color: white;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
.title {
    font-family: "Quicksand", sans-serif;
    color: black;
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 25vh;
    font-weight: 550;
}
.btn
{
    width: 40%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #009688;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn:hover{
    background-color: #27ae60;
}
 .btn a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: White;
	text-decoration: none;
    list-style: none;
}