@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #F4C89C;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title {
    font-family: "Bebas Neue", cursive;
    color: black;
    font-size: 3rem;
    text-align: center;
}
.subtitle{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}
.game{
  display: flex;
  flex-direction: column;
  width: 85vw;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.game:active{
  color: white;
}
.btn {
    border: transparent;
    background-color: transparent;
}
.buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width: vw;
    background-color: #e86830;
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    padding: 6px 20px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #e86830;
    }
.buttoncontainer a {
    text-align: center;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    }