@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
	background-color:#F4C89C;
}
.title {
    font-family: "Bebas Neue", cursive;
    color: black;
    font-size: 3rem;
    text-align: center;
}
.subtitle{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}
.game{
  display: flex;
  flex-direction: column;
  width: 85vw;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.game:active{
  color: white;
}
.game:hover {
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
width: 70vw;
}
.btn {
    border: transparent;
    background-color: transparent;
}
.buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width: vw;
    background-color: #e86830;
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    padding: 6px 20px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #e86830;
    }
.buttoncontainer a {
    text-align: center;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    }
    
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: transparent;
  color: black;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: black;
}
nav .links {
	float: right;
	padding: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: black;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
	transform: translate(0px,98987px);
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: green;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
		color: white;
	}
	nav .links a {
		font-size: 20px;
		color: white;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

.youtube-link {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}
video {
  height: 40vh;
  width: 40vw;
}
.container {
  background-color: #F4C89C;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
margin-top: 20vh;
}