@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap");
*{
    margin: 0;
    padding: 0  ;
}
html,
body {
    height: 100%;
    margin: 0;
}
.container {
    height: 90vh;
    width: 100vw;
}
.notes {
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    
}

.notes__add {
    background: #009688;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
    font-family: "Quicksand", sans-serif;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
font-family: "Quicksand", sans-serif;
}

.notes__small-title {
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
}

.notes__small-body {
    padding: 0 10px;
    font-family: "Quicksand", sans-serif;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
    font-family: "Quicksand", sans-serif;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
    font-family: "Quicksand", sans-serif;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
    font-family: "Bebas Neue", cursive;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    font-family: "Quicksand", sans-serif;
}
.backbutton {
    font-size: 4rem;
    background-color: transparent;
    border: transparent;
    color: black;
  }
  nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: transparent;
    color: black;
  }
nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: black;
  }
  nav .links {
    float: right;
    padding: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav .links li {
    list-style: none;
  }
  nav .links a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  #nav-toggle {
    position: absolute;
    top: -100px;
  }
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  @media screen and (max-width: 768px) {
    nav .logo {
    transform: translate(0px,98987px);
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #009688;
      overflow: hidden;
      box-sizing: border-box;
      transition: all .5s ease-in-out;
      color: white;
    }
    nav .links a {
      font-size: 20px;
      color: white;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
    
  }
  
  .youtube-link {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
  }